/* HOME PAGE */

/* .home-page {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

/* 2xl */
@media (max-width: 1600px) {
  .home-page {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .head {
    width: 100%;
    margin: 0 auto;
  }

  .home-content1{
    
  }

  footer{
    height: 650px;
  }
}



/* xl */
@media (max-width: 1500px) {
  .home-page {
    max-width: 1500px;
    width: 100%;
    /* background-color: grey; */
    /* margin-left: 0px; */
    margin-right: auto;
    margin-bottom: auto;
    overflow: hidden;
  }

  .head { 
    /* background-color: pink; */
  }

  .home-content1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .footer {
    /* width: 100%;
    height: 650px;
    margin: 0 auto;
    background-color: #032b44;
    color: #ffffff; */
  }
}




@media (max-width: 1217px) {
  .home-page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: green; */
  }

.textbox,
.img-container {
  padding: 35px 47px;
  /* flex: 1; */
}

.textbox{
  padding-right: 2px;
}

.img-container{
  padding-left: 2px;
}



}





/* lg */
@media (max-width: 1024px) {
  .home-page {
    max-width: 768px;
    width: 100%;
    /* background-color: aqua; */
  }
}




/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

/* @media (min-width: 1280px) and (min-height: 800px) {
  .home-page{
    background-color: red;
  }
} */

/* ABOUT PAGE */

/* .home-page {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
