/* HOME PAGE */

/* .home-page {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

/* 2xl */
@media (max-width: 1600px) {
  .home-page {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .head {
    width: 100%;
    margin: 0 auto;
  }

  .home-content1 {
  }

  footer {
    height: 650px;
  }
}

/* xl */
@media (max-width: 1500px) {
  .home-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .about-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .academy-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .co-workspace-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .contact-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .footnote {
    margin-top: 0%;
  }

  .head {
    /* background-color: pink; */
  }

  .home-content1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .footer {
    /* width: 100%;
    height: 650px;
    margin: 0 auto;
    background-color: #032b44;
    color: #ffffff; */
  }
}

@media (max-width: 1217px) {
  .home-page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: green; */
  }

  .textbox,
  .img-container {
    padding: 35px 8%;
    /* flex: 1; */
  }

  .textbox {
    padding-right: 2px;
  }

  .img-container {
    padding-left: 2px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .home-page {
    max-width: 768px;
    width: 100%;
    /* background-color: aqua; */
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

/* @media (min-width: 1280px) and (min-height: 800px) {
  .home-page{
    background-color: red;
  }
} */

/* ABOUT PAGE */

/* .home-page {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* MOBILE VIEW */
/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

/* Home Page */
@media (max-width: 500px) {
  .head {
    width: 100%;
    padding: 35px 4%;
  }

  /* NAV BAR */

  .logo img {
    width: 80px;
  }
  .navbar ul {
    display: none;
  }

  nav ul li {
    font-family: ID-bold;
  }

  .hamburger-menu {
    display: flex;
  }

  nav img {
    width: 25px;
  }

  .main-menu-sidebar-button {
    display: block;
  }

  /* HOME CONTENT-1 */
  .home-content1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #032b44;
  }

  .textbox {
    padding: 5px 2%;
  }

  .img-container1a img {
    display: block;
    width: 100%;
    padding-bottom: 5px;
  }

  .img-container img {
    display: none;
  }

  /* HOME CONTENT-2 */
  .home-content2 {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding-top: 1px;
  }

  .home-box2 {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }

  .img-container3 img {
    width: 100%;
  }

  .img-container3 {
    padding-bottom: 0px;
  }

  .home-box2 p {
    text-align: start;
  }

  /* HOME CONTENT-3 */
  .home-content3 img {
    width: 85%;
  }

  .home-content3 p {
    text-align: start;
  }

  /* HOME CONTENT-4 */
  .img-box {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0px;
  }

  /* FOOTER */
  footer {
    /* position: relative;
    top: 0; */
    width: 100%;
    height: 100%;
  }

  .foot-details {
    margin-top: 0.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }

  .col-1 {
    margin: 0px;
    line-height: 1;
    padding-bottom: 5%;
  }

  .col-1 p {
    font-family: ID-regular;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.3;
  }

  .imgs p {
    margin-top: 7%;
  }

  .google-map-a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .google-map-a p {
    font-family: ID-regular;
    font-weight: 300;
    text-align: center;
    font-size: 17px;
  }

  .google-map {
    display: none;
  }

  .spark {
    display: none;
  }

  .mobile-foot-logo {
    display: flex;
    justify-content: center;
    padding: 5%;
  }

  .mobile-foot-logo img {
    width: 200px;
  }

  .footnote {
    margin-top: 0px;
  }

  .footnote p {
    text-align: center;
    font-family: ID-regular;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }
}

/* Home Page */
/* To be adjusted from 500px back to 360px */
@media (max-width: 500px) {
  /* HOME CONTENT-1 */

  /* MODAL */
  .modal-content {
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
  }

  .close {
    margin-left: auto;
    font-size: 38px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .head {
    width: 100%;
    padding: 20px 4%;
    padding-bottom: 10px;
  }

  .logo img {
    width: 80px;
  }

  .textbox h1 {
    font-size: 28px;
    line-height: 1.4;
    padding-bottom: 2%;
  }

  .hide-on-mobile {
    display: none;
  }

  .img-container1a img {
    padding-top: 8%;
  }

  .textbox h2 {
    font-size: 14px;
  }

  .textbox p {
    font-size: 14px;
    padding-top: 6%;
    padding-bottom: 4%;
    line-height: 1.5;
  }

  .textbox a {
    margin: 0px auto;
    display: flex;
  }

  .btn-1 {
    font-size: 14px;
    padding: 12px 5px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  /* HOME CONTENT-2 */
  .home-content2 {
    margin-top: -18%;
    background-color: #fff;
  }

  .home-content2 h2 {
    font-size: 24px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
    padding-bottom: 3%;
    line-height: 1.2;
  }

  .img-container3 img {
    max-width: 350px;
    overflow: hidden;
    margin: 0 auto;
  }

  .home-content2 h3 {
    font-size: 14px;
  }

  .break-on-mobile {
    display: block;
  }

  .img-container3,
  .textbox2 {
    padding: 4%;
  }

  .home-content2 p {
    font-size: 14px;
    margin-top: -5%;
    line-height: 1.5;
  }

  .register-btn1 {
    height: 80px;
  }

  .btn-2 {
    font-size: 14px;
    padding: 12px 28px;
  }

  /* HOME CONTENT-3 */
  .home-content3 h2 {
    font-size: 24px;
    text-align: center;
  }

  .home-content3 p {
    font-size: 14px;
    padding: 35px 4%;
  }

  .home-content3-span-b {
    font-family: ID-regular;
  }

  .register-btn2 {
    height: 80px;
  }

  .btn-3 {
    font-size: 14px;
    padding: 12px 28px;
  }

  /* HOME CONTENT-4 */
  .home-content4 h2 {
    font-size: 24px;
    text-align: center;
  }

  .img-box1 h3 {
    font-size: 14px;
  }

  /* FOOTER */
  footer {
    width: 100%;
    min-height: 100%;
  }

  .google-map-a {
    display: none;
  }

  .google-map-b {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    /* justify-content: center; */
  }

  .google-map-b p {
    font-family: ID-regular;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
  }

  .col-1 {
    margin: 0px;
    line-height: 1;
    padding-bottom: 5%;
    margin-left: -25%;
  }

  .col-1 p {
    font-family: ID-regular;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.3;
  }

  .col-1 a {
    text-decoration: none;
    color: #fff;
  }

  .span-4 {
    font-size: 16px;
  }

  .imgs img {
    width: 18px;
    height: 18px;
  }

  .img-text {
    margin-top: 1%;
    display: inline-block;
  }

  .img-text p {
    margin-top: 5%;
  }

  .mobile-foot-logo {
    padding: 1%;
  }

  .mobile-foot-logo-click {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 27px;
    font-family: ID-bold;
    color: #fff;
  }

  .mobile-foot-logo-click img {
    width: 30px;
  }

  /* About Page */

  /* ABOUT PAGE CONTENT-1 */
  .about-content1 {
    padding: 0% 4%;
    margin: 0 auto;
    background: none;
    max-height: 330px;
  }

  .about1 {
    padding-left: 0%;
  }

  .dont-show-on-mobile {
    display: none;
  }

  .about1 img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .about1 h1 {
    font-size: 30px;
    line-height: 1.2;
    color: #032b44;
  }

  .about1 h2 {
    font-size: 15px;
    color: #032b44;
    padding-top: 2%;
  }

  .btn-4 {
    display: none;
  }

  /* ABOUT PAGE CONTENT-2 */
  .about-content2 {
    flex-direction: column;
    min-height: 100%;
    gap: 12px;
    padding: 0px 4%;
    max-height: 330px;
  }

  .about2a {
    text-align: center;
    width: 100%;
    margin-right: 0px;
  }

  .about2a h2 {
    font-size: 24px;
    padding-top: 0px;
    text-align: left;
    margin-right: auto;
  }

  .about2b p {
    text-align: left;
    font-size: 14px;
    padding-bottom: 5%;
  }

  .btn-4-mobile-container {
    margin: 0 auto;
  }

  .btn-4-mobile {
    display: flex;
    cursor: pointer;
    background-color: #ffc107;
    color: #032b44;
    font-family: ID-regular;
    font-weight: 800;
    padding: 12px 150px;
    border-radius: 50px;
    font-size: 14px;
    border: 0;
    justify-content: center;
    align-items: center;
  }

  .btn-4-mobile:hover {
    transform: scale(0.9);
    background-color: transparent;
    border: 2px solid #ffc107;
    color: #ffc107;
    transition: 0.4s;
  }

  /* ABOUT PAGE CONTENT-3 */
  .about-content3 {
    background-color: transparent;
  }

  .about3 {
    width: 100vw;
    gap: 15px;
    border-radius: 0px;
    margin: 0px;
  }

  .inner3e {
    width: 345px;
    height: 234px;
  }

  .inn-head h2 {
    font-family: ID-bold;
    font-size: 24px;
  }

  /* ABOUT PAGE CONTENT-4 */
  .show-on-360 {
    display: none;
  }

  .about4-body {
    flex-direction: column;
    gap: 15px;
  }

  .about4 h2 {
    text-align: center;
    font-size: 24px;
  }

  .a4body-1 h3 {
    font-size: 16px;
  }

  .a4body-1 p {
    font-size: 14px;
  }

  /* ABOUT PAGE CONTENT-5 */
  .about-content5 {
    flex-direction: column;
  }

  .about5a img {
    display: none;
  }

  .about5b {
    background: transparent;
    height: 300px;
    max-width: 409px;
  }

  .about5b-text h2 {
    font-size: 24px;
    text-align: center;
  }

  .about5b-text p {
    font-size: 14px;
    margin-right: auto;
    text-align: center;
  }

  .btn-5 {
    font-size: 14px;
    padding: 9px 125px;
  }

  /* ACADEMY PAGE */
  .academy-content1 {
    flex-direction: column;
    min-height: 300px;
    width: 100%;
    border-radius: 0px;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .academy-left {
    padding-left: 0%;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .academy-left h1 {
    font-size: 38px;
    line-height: 1;
    padding-left: 4%;
    text-align: center;
  }

  .academy-left a {
    /* width: 50%; */
    text-align: center;
  }

  .btn-10 {
    padding: 9px 150px;
  }

  .academy-right {
    overflow: hidden;
  }

  .academy-right img {
    /* width: 100%;
    position: relative;
    right: 0%;
    display: block; */
    display: none;
  }

  .academy-icons {
    gap: 30px;
  }

  .icon3a img {
    width: 25px;
  }

  .icon3a p {
    font-family: ID-regular;
    font-size: 10px;
    font-weight: 200;
  }

  .academy-content2 h2 {
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    font-size: 24px;
  }

  .academy2a p {
    font-size: 16px;
  }

  .academy2 {
    gap: 25px;
  }

  .course-box {
    border-radius: 0px;
  }

  .course-box a {
    font-size: 12px;
  }

  .btn-10a {
    display: none;
  }

  .btn-10b {
    display: block;
    font-size: 14px;
    border-radius: 20px;
    background-color: #ffc107;
    text-align: center;
  }

  /* .btn-10b-social{
    font-size: 1px !important;
  } */

  #btn-10b-social {
    border-radius: 30px;
  }

  .academy2a p {
    display: none;
  }

  .academy-content3 {
    margin: 0px auto;
    margin-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .academy-content3 h2 {
    font-size: 18px;
  }

  .academy-content3-h2b {
    padding-top: 5%;
  }

  .academy-content3 ul {
    padding-left: 0px;
    font-size: 14px;
    margin-left: 5%;
  }

  /* CO-WORKSPACE PAGE */
  .work-content1 img {
    width: 90%;
  }

  .work1a {
    gap: 20px;
  }

  .work1 h1 {
    font-size: 28px;
    padding-top: 10%;
    padding-left: 1%;
  }

  .btn-6 {
    top: 40px;
    width: 70px;
    font-size: 8px;
    padding: 4px 1px;
  }

  .work-content2 h2 {
    font-family: ID-bold;
    font-size: 24px;
    color: #000000;
    margin-left: 0px;
  }

  .work-content2 li {
    font-size: 14px;
    margin-left: 0px;
    padding-bottom: 5%;
    line-height: 1.5;
  }

  .work3-head h2 {
    font-size: 24px;
    text-align: center;
    padding: 6% 6.7%;
  }

  .work3-row {
    width: 80%;
    margin: 0px auto;
    gap: 14px;
  }

  /* COMMUNITY PAGE */
  .construction-body {
    flex-direction: column;
    gap: 15px;
    padding-bottom: 0px;
    padding-top: 5%;
  }

  .construction-img img {
    width: 200px;
  }

  .construction-text h1 {
    font-size: 28px;
  }

  .construction-text p {
    font-size: 14px;
  }

  /* CONTACT US PAGE */
  .form-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .contact-right {
    width: 90%;
    padding: 4%;
  }

  .contact-left {
    padding: 2%;
  }

  .contact-left h2 {
    font-size: 28px;
  }

  .contact-left p {
    font-size: 14px;
  }

  .btn-11 {
    font-size: 18px;
  }

  /* WEB DEV PAGE */
  .web-dev-page1 {
    max-width: 500px;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    max-height: 150dvh;
    height: 100%;
    text-align: center;
  }

  .web-dev-page1-left {
    padding: 0px;
    padding: 5%;
  }

  .web-dev-page1-left h3 {
    font-size: 16px;
  }

  .web-dev-page1-left h1 {
    font-size: 30px;
  }

  .web-dev-page1-right {
    padding: 0px;
    color: #fff;
    text-align: left;
  }

  .web-dev-page1-right h3 {
    font-size: 16px;
    margin-left: -6%;
  }

  .web-dev-page1-right p {
    color: #fff;
    /* margin-bottom: 5%; */
  }

  .web-dev-page1-right .text-box ul li {
    text-align: left;
    margin-left: 0px;
    font-size: 14px;
    color: #fff;
  }

  .web-dev-page1-right .text-box ul {
    padding-bottom: 7%;
  }

  .web-dev-page1-right img {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .web-dev-page1-left h3 {
    font-size: 16px;
  }

  .web-dev-page1-left h1 {
    font-size: 18px;
  }

  .web-dev-page1-right img {
    width: 100%;
  }

  .web-dev-page1-right .text-box {
    width: 100%;
    margin-top: -5%;
    padding: 10%;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
  }

  .btn-13 {
    padding: 9px 105px;
    border-radius: 50px;
    font-size: 14px;
    border: 0;
    font-weight: 800;
  }

  .web-dev-page2-left-demands {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .course-details {
    padding: 0px;
    padding: 10px 4%;
    margin-bottom: 10%;
  }

  .course-details p {
    font-size: 14px;
  }

  .web-dev-page3 h2 {
    font-size: 24px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .web-dev-page3 {
    padding-bottom: 7%;
  }

  .web-dev-page3-benefits {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .web-dev-page4 h2 {
    padding-top: 10%;
    font-size: 24px;
    border-bottom: 2px solid #032b44;
    width: 80%;
    margin: 0 auto;
  }

  .web-dev-page4-admission {
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    border-top: 0px solid #032b44;
    /* border-left: 2px solid #032b44; */
  }

  .web-dev-page4-admission-container h4,
  p {
    font-size: 16px;
  }

  .web-dev-page5 {
    padding: 0px;
  }

  .web-dev-page5 {
    padding: 10% 0%;
  }

  .web-dev-page5 h2 {
    font-size: 24px;
    text-align: left;
    padding-left: 4%;
  }

  .web-dev-page5-container {
    padding: 0% 4%;
  }

  .web-dev-page5 h3 {
    font-size: 14px;
  }

  .web-dev-page5 p {
    font-size: 14px;
  }

  .web-dev-page6-left h2 {
    font-size: 24px;
    padding-bottom: 5%;
    text-align: left;
  }

  .web-dev-page6 {
    padding: 5% 4%;
    background-color: #e4e4e4;
  }

  .web-dev-page6-container-faq h3 {
    font-size: 14px;
  }

  .web-dev-page6-container-faq p {
    font-size: 14px;
  }

  /* ADMISSION PORTAL */
  .admission-page {
    max-width: 500px;
  }

  .admission-content {
    flex-direction: column;
    padding-top: 10%;
  }

  .admission-image {
    display: none;
  }

  .admission-left {
    width: 400px;
    max-height: 800px;
    margin: 0 auto;
  }

  .admission-left h1 {
    font-size: 40px;
    padding-bottom: 2%;
  }

  .admission-left p {
    font-size: 14px;
  }

  .admission-right {
    width: 92%;
    padding: 0px;
    margin: 0 auto;
  }

  .admission-img img {
    display: none;
  }

  .btn-12 {
    font-size: 16px;
    margin-bottom: 1%;
  }

  .btn-12:hover {
    font-size: 14px;
  }
}

@media (max-width: 390px){
  .web-dev-page1-left p{
    padding: 5px 10px;
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  /* ABOUT US  */
  .about-content2 {
    margin-bottom: 40%;
  }

  .about2b p {
    font-size: 16px;
  }

  .btn-4-mobile {
    padding: 12px 100px;
  }

  .about3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .inn-head h2 {
    font-size: 130%;
  }

  .inn-body p {
    font-size: 18px;
  }

  .about4 h2 {
    font-size: 28px;
  }

  .show-on-360 {
    display: block;
  }

  .a4body-1 h3 {
    font-size: 14px;
  }

  .a4body-1 p {
    font-size: 14px;
    font-weight: 500;
  }

  .about5b {
    height: 400px;
  }

  .about5b-text h2 {
    margin: 0 15%;
    font-size: 30px;
  }

  .about5b-text p {
    margin: 0 15%;
    font-size: 18px;
  }

  /* ACADEMY */
  .btn-10 {
    padding: 9px 100px;
  }

  /* COURSES PAGE */
  .btn-13 {
    padding: 9px 95px;
  }

  .web-dev-page4-admission {
    max-width: 320px;
    overflow: hidden;
  }

  /* ADMISSION PAGE */
  .admission-page {
    overflow: visible;
  }

  .admission-left {
    width: 300px;
  }

  .admission-right {
    width: 85%;
  }

  .admission-right p {
    padding-bottom: 15%;
  }
}
