/* HOME PAGE */

/* .home-page {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

/* 2xl */
@media (max-width: 1600px) {
  .home-page {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .head {
    width: 100%;
    margin: 0 auto;
  }

  .home-content1 {
  }

  footer {
    height: 650px;
  }
}

/* xl */
@media (max-width: 1500px) {
  .home-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .about-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .academy-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .co-workspace-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .contact-page {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .footnote {
    margin-top: 0%;
  }

  .head {
    /* background-color: pink; */
  }

  .home-content1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .footer {
    /* width: 100%;
    height: 650px;
    margin: 0 auto;
    background-color: #032b44;
    color: #ffffff; */
  }
}

@media (max-width: 1217px) {
  .home-page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: green; */
  }

  .textbox,
  .img-container {
    padding: 35px 8%;
    /* flex: 1; */
  }

  .textbox {
    padding-right: 2px;
  }

  .img-container {
    padding-left: 2px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .home-page {
    max-width: 768px;
    width: 100%;
    /* background-color: aqua; */
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

/* @media (min-width: 1280px) and (min-height: 800px) {
  .home-page{
    background-color: red;
  }
} */

/* ABOUT PAGE */

/* .home-page {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* MOBILE VIEW */
/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

/* Home Page */
@media (max-width: 500px) {
  .head {
    width: 100%;
    padding: 35px 4%;
  }

  /* NAV BAR */

  .logo img {
    width: 80px;
  }
  .navbar ul {
    display: none;
    /* background-color: green;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding-left: 40px;
    font-size: 30px; */
  }

  nav ul li {
    font-family: ID-bold;
  }

  .hamburger-menu {
    display: flex;
  }

  nav img {
    width: 25px;
  }

  .main-menu-sidebar-button {
    display: block;
  }

  /* HOME CONTENT-1 */
  .home-content1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #032b44;
  }

  .textbox {
    padding: 5px 2%;
  }

  .img-container1a img {
    display: block;
    width: 100%;
    padding-bottom: 5px;
  }

  .img-container img {
    display: none;
  }

  /* HOME CONTENT-2 */
  .home-content2 {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding-top: 1px;
  }

  .home-box2 {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }

  .img-container3 img {
    width: 100%;
  }

  .img-container3 {
    padding-bottom: 0px;
  }

  .home-box2 p {
    text-align: start;
  }

  /* HOME CONTENT-3 */
  .home-content3 img {
    width: 85%;
  }

  .home-content3 p {
    text-align: start;
  }

  /* HOME CONTENT-4 */
  .img-box {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0px;
  }

  /* FOOTER */
  footer {
    /* position: relative;
    top: 0; */
    width: 100%;
    height: 100%;
  }

  .foot-details {
    margin-top: 0.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }

  .col-1 {
    margin: 0px;
    line-height: 1;
    padding-bottom: 5%;
  }

  .col-1 p {
    font-family: ID-regular;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.3;
  }

  .imgs p {
    margin-top: 7%;
  }

  .google-map-a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .google-map-a p {
    font-family: ID-regular;
    font-weight: 300;
    text-align: center;
    font-size: 17px;
  }

  .google-map {
    display: none;
  }

  .spark {
    display: none;
  }

  .mobile-foot-logo {
    display: flex;
    justify-content: center;
    padding: 5%;
  }

  .mobile-foot-logo img {
    width: 200px;
  }

  .footnote {
    margin-top: 0px;
  }

  .footnote p {
    text-align: center;
    font-family: ID-regular;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }
}

/* Home Page */
/* To be adjusted from 500px back to 360px */
@media (max-width: 500px) {
  /* HOME CONTENT-1 */
  .head {
    width: 100%;
    padding: 20px 4%;
    padding-bottom: 10px;
  }

  /* NAV BAR */

  .logo img {
    width: 80px;
  }

  .textbox h1 {
    font-size: 30px;
    line-height: 1.4;
    padding-bottom: 2%;
  }

  .hide-on-mobile {
    display: none;
  }

  .img-container1a img {
    padding-top: 8%;
  }

  .textbox h2 {
    font-size: 15px;
  }

  .textbox p {
    font-size: 14px;
    padding-top: 6%;
    padding-bottom: 4%;
    line-height: 1.5;
  }

  .btn-1 {
    font-size: 12px;
    padding: 12px 28px;
  }

  /* HOME CONTENT-2 */
  .home-content2 {
    margin-top: -8%;
    background-color: #e4e4e444;
  }

  .home-content2 h2 {
    font-size: 24px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
    line-height: 1.3;
  }

  .img-container3 img {
    width: 350px;
    margin-left: -29px;
    overflow: hidden;
  }

  .home-content2 h3 {
    font-size: 16px;
  }

  .break-on-mobile {
    display: block;
  }
  .home-content2 p {
    font-size: 14px;
    margin-top: -5%;
    line-height: 1.5;
  }

  .register-btn1 {
    height: 80px;
  }

  .btn-2 {
    font-size: 12px;
    padding: 12px 28px;
  }

  /* HOME CONTENT-3 */
  .home-content3-span {
    color: black;
  }

  .home-content3 h2 {
    font-size: 24px;
    padding-right: 2%;
  }

  .home-content3 p {
    font-size: 14px;
    /* margin-top: -5%; */
  }

  .home-content3-span-b {
    font-family: ID-regular;
  }

  .register-btn2 {
    height: 80px;
  }

  .btn-3 {
    font-size: 12px;
    padding: 12px 28px;
  }

  /* HOME CONTENT-4 */
  .home-content4 h2 {
    font-size: 24px;
  }

  .img-box1 h3 {
    font-size: 16px;
  }

  /* FOOTER */
  footer {
    width: 100%;
    min-height: 100%;
  }

  .google-map-a {
    display: none;
  }

  .google-map-b {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    /* justify-content: center; */
  }

  .google-map-b p {
    font-family: ID-regular;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
  }

  .col-1 {
    margin: 0px;
    line-height: 1;
    padding-bottom: 5%;
    margin-left: -25%;
  }

  .col-1 p {
    font-family: ID-regular;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.3;
  }

  .span-4 {
    font-size: 16px;
  }

  .imgs img {
    width: 18px;
    height: 18px;
  }

  .img-text {
    margin-top: 1%;
    display: inline-block;
  }

  .img-text p {
    margin-top: 4%;
  }

  .mobile-foot-logo {
    padding: 1%;
  }

  .mobile-foot-logo-click {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 27px;
    font-family: ID-bold;
    color: #fff;
  }

  .mobile-foot-logo-click img {
    width: 30px;
  }

  /* About Page */

  /* ABOUT PAGE CONTENT-1 */
  .about-content1 {
    height: 150px;
  }

  .about1 h1 {
    font-size: 20px;
    line-height: 1;
  }

  .about1 h2 {
    font-size: 10px;
    margin-bottom: -5%;
  }

  .btn-4 {
    width: 8px;
    cursor: pointer;
    background-color: #ffc107;
    color: #032b44;
    font-family: ID-regular;
    font-weight: 800;
    padding: 3px 10px;
    border-radius: 50px;
    font-size: 10px;
    border: 0;
  }

  .btn-4:hover {
    transform: scale(0.9);
    background-color: transparent;
    border: 2px solid #ffc107;
    color: #ffc107;
    transition: 0.4s;
  }

  /* ABOUT PAGE CONTENT-2 */
  .about-content2 {
    flex-direction: column;
    min-height: 100%;
    gap: 12px;
    margin-bottom: 20%;
  }

  .about2a {
    text-align: center;
    width: 100%;
    margin-right: 0px;
  }

  .about2a h2 {
    font-size: 28px;
    padding-top: 0px;
  }

  .about2b p {
    text-align: left;
    font-size: 18px;
  }

  /* ABOUT PAGE CONTENT-3 */
  .about3 {
    gap: 15px;
  }

  .inner3e {
    width: 345px;
    height: 234px;
  }

  .inn-head h2 {
    font-family: ID-bold;
    font-size: 24px;
  }

  /* ABOUT PAGE CONTENT-4 */
  .about4-body {
    flex-direction: column;
    gap: 15px;
  }

  /* ABOUT PAGE CONTENT-5 */
  .about-content5 {
    flex-direction: column;
  }

  .about5a img {
    display: none;
  }



  /* ACADEMY PAGE */
  .academy-content1 {
    flex-direction: column;
  }

  .academy-left{
    padding-left: 0%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .academy-left h1 {
    font-family: ID-bold;
    font-size: 38px;
    color: #032b44;
    line-height: 1;
  }

  .academy-right img {
    max-width: 350px;
    position: relative;
    right: -16.6%;
    top: 5.5px;
  }

  .academy-icons {
    width: 80%;
  }

  .icon3a img {
    width: 25px;
  }
  
  .icon3a p {
    font-family: ID-regular;
    font-size: 10px;
    font-weight: 200;
  }

  /* CO-WORKSPACE PAGE */
  .work-content1 img {
    width: 90%;
  }

  .work1a {
    gap: 20px;
  }

  .work1 h1 {
    font-size: 28px;
    padding-top: 10%;
    padding-left: 1%;
  }

  .btn-6 {
    top: 40px;
    width: 70px;
    font-size: 8px;
    padding: 4px 1px;
  }

  .work-content2 h2 {
    font-family: ID-bold;
    font-size: 24px;
    color: #000000;
    margin-left: 0px;
  }

  .work-content2 li {
    font-size: 14px;
    margin-left: 0px;
    padding-bottom: 5%;
    line-height: 1.5;
  }

  .work3-head h2 {
    font-size: 24px;
    text-align: center;
    padding: 6% 6.7%;
  }

  .work3-row {
    width: 80%;
    margin: 0px auto;
    gap: 14px;
  }

  /* COMMUNITY PAGE */
  .construction-body{
    flex-direction: column;
    gap: 15px;
    padding-bottom: 0px;
  }

  .construction-img img{
    width: 200px;
  }

  .construction-text h1{
    font-size: 28px;
  }
  
  .construction-text p{
    font-size: 14px;
  }

  /* CONTACT US PAGE */
  .form-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .contact-right {
    width: 90%;
    padding: 4%;
  }

  .contact-left{
    padding: 2%;
  }

  .contact-left h2{
    font-size: 28px;
  }
  
  .contact-left p{
    font-size: 14px;
  }

}
