@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: ID-bold;
  src: url(./assets/IDGrotesk-Bold-BF652cb1b4740d2.ttf);
  font-weight: 700;
}

@font-face {
  font-family: ID-regular;
  src: url(./assets/IDGrotesk-Regular-BF652cb1b4787d7.ttf);
  font-weight: 400;
}

body {
  font-family: "Open sans";
  font-weight: 600;
  background-color: #ffffff;
}

.home-page {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* NAVIGATION BAR */

.head {
  width: 100%;
  padding: 35px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #000; */
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
}

.nav-bar ul li a {
  padding: 0 15px;
  color: #032b44;
  transition: 0.5s ease;
}

.nav-bar ul li a:hover {
  color: #ffc107;
}

.logo {
  font-size: 25px;
  color: #032b44;
  font-weight: 600;
  transition: 0.3s ease;
  font-family: ID-bold;
}

.logo:hover {
  color: #ffc107;
  text-shadow: 0 0 25px #ffc107, 0 0 25px #ffc107;
  transform: scale(1.1);
}

/**** HOME PAGE CONTENT-1 ****/
.home-content1 {
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
  width: 100%;
  height: 50%;
  margin: 0 auto;
}

.textbox h1 {
  font-family: ID-bold;
  color: #000000;
  font-size: 48px;
  background-color: transparent;
}

.textbox h2 {
  font-size: 20px;
  font-weight: 400;
}

.textbox p {
  font-size: 20px;
  font-weight: 400;
}

.span-1 {
  color: #032b44;
}

.span-2 {
  color: #ffc107;
}

.subtext {
  color: #032b44;
  font-size: 10px;
}

.home-paragraph {
  color: #032b44;
  font-size: 10px;
}

.btn-1 {
  cursor: pointer;
  background-color: #032b44;
  color: white;
  padding: 9px 25px;
  border-radius: 50px;
  font-size: 20px;
  border: 0;
}

.btn-1:hover {
  transform: scale(0.9);
  background-color: transparent;
  border: 2px solid #032b44;
  color: #032b44;
  transition: 0.4s;
}

.textbox,
.img-container {
  padding: 35px 8%;
  flex: 1;
}

.img-container {
  background-color: transparent;
  padding-left: 0;
}

.textbox {
  padding-right: 0;
}

.img-container1 img {
  width: 515px;
}

.img-container2 img {
  width: 255px;
}

/**** HOME PAGE CONTENT-2 ****/
.home-content2 {
  background-color: #ffe4e4;
  width: 100%;
  height: 50%;
  margin: 0 auto;
}
.home-content2 h2 {
  text-align: center;
  font-family: ID-bold;
  color: #032b44;
  font-size: 36px;
  padding-top: 1.4%;
  padding-bottom: 1.2%;
}

.home-box2 {
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin: 0 100px;
}

.img-container3 img {
  width: 525px;
}

.register-btn1 {
  background-color: #ffc107;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-2 {
  cursor: pointer;
  background-color: #032b44;
  color: white;
  padding: 9px 25px;
  border-radius: 50px;
  font-size: 20px;
  border: 0;
}

.btn-2:hover {
  transform: scale(0.9);
  background-color: transparent;
  border: 2px solid #032b44;
  color: #032b44;
  transition: 0.4s;
}

.img-container3,
.textbox2 {
  padding: 25px;
  flex: 1;
}

.textbox2 h3 {
  font-family: ID-bold;
  color: #032b44;
  font-size: 25px;
}

.textbox2 p {
  color: #032b44;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  line-height: 1;
}

/**** HOME PAGE CONTENT-3 ****/
.home-content3 {
  width: 100%;
  height: 50%;
  margin: 0 auto;
}

.home-content3 img {
  width: 1065px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-content3 h2 {
  text-align: left;
  font-family: ID-bold;
  color: #032b44;
  font-size: 36px;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  padding: 35px 8%;
}

.home-content3 p {
  padding: 35px 8%;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
}

/* MEMBERSHIP BUTTON */

.register-btn2 {
  background-color: #032b44;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-3 {
  cursor: pointer;
  background-color: #ffc107;
  color: #032b44;
  font-family: ID-bold;
  padding: 9px 25px;
  border-radius: 50px;
  font-size: 20px;
  border: 0;
}

.btn-3:hover {
  transform: scale(0.9);
  background-color: transparent;
  border: 2px solid #ffc107;
  color: #ffc107;
  transition: 0.4s;
}

/** HOME CONTENT4 - PREMIUM PRODUCTS **/
.home-content4 {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.img-box1 img {
  width: 318px;
}

.img-box2 img {
  width: 318px;
}

.img-box3 img {
  width: 318px;
}

.img-box {
  display: flex;
  justify-content: space-between;
  padding: 5px 8%;
}

.img-box1 {
  flex: 1;
  margin: 0 10px;
  background-color: #032b44;
  border-radius: 20px;
}

.img-box img {
  max-width: 100%;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.img-box1 h3 {
  text-align: center;
  color: #ffffff;
  font-family: ID-bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

/** FOOTER **/
.footer {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background-color: #032b44;
  color: #ffffff;
}

.top img {
  width: 100%;
}

.foot-details {
  display: flex;
  justify-content: space-between;
  padding: 15px 8%;
  /* background-color: rebeccapurple; */
  margin: 0 50px;
}

.col-1 p {
  font-family: ID-regular;
  font-size: 24px;
  line-height: 1.5;
}

.span-4 {
  font-family: ID-bold;
}

.col-2 p {
  font-family: ID-regular;
  font-size: 24px;
}

.col-1 {
  /* background-color: purple; */
  margin-left: -70px;
}

.col-2 {
  /* background-color: yellow; */
  margin-top: -15px;
}

.col-1 img {
  width: 38px;
  display: inline-block;
  margin: 0px;
}

.img-text {
  /* background-color: green; */
  display: flex;
  margin-top: -30px;
  margin-left: 8%;
  align-items: center;
}

.text-img p {
  padding: 10px;
}

.google-map {
  position: relative;
  width: 498px;
  height: 155px;
}

.google-map p {
  text-align: center;
  /* background-color: red; */
  padding: 1px;
  font-size: 24px;
  text-align: center;
}

.spark {
  display: flex;
  align-items: center;
  /* background-color: #ffc107; */
  margin: 0 20px;
  margin-top: 20px;
}

.spark h1 {
  font-family: ID-bold;
  font-size: 90px;
}

.logo-foot {
  width: 182px;
  height: 90px;
  background-color: #ffffff;
  margin: 0 30px;
}

.footnote {
  background-color: pink;
  height: 10;
}

.footnote p {
  text-align: center;
}

/* ABOUT US PAGE */

.about-page {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
}

.about-content1 {
  background-image: url("./assets/about1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
  margin: 0 auto;
}

.about1 {
  background: linear-gradient(89.38deg, #000 26.82%, transparent);
  align-items: flex-start;
  padding: 52px 107px 49px;
  height: 50%;
  z-index: 1;
  color: #ffffff;
}

.about1 h1 {
  font-family: ID-bold;
  font-size: 90px;
  line-height: 1;
}

.about1 h2 {
  font-family: ID-regular;
  font-size: 24px;
  font-weight: 400;
  /* background-color: red; */
  padding: 22px;
  padding-left: 0;
}

.btn-4 {
  width: 258px;
  cursor: pointer;
  background-color: #ffc107;
  color: #032b44;
  font-family: ID-regular;
  font-weight: 570;
  padding: 9px 25px;
  border-radius: 50px;
  font-size: 24px;
  border: 0;
}

.btn-4:hover {
  transform: scale(0.9);
  background-color: transparent;
  border: 2px solid #ffc107;
  color: #ffc107;
  transition: 0.4s;
}

/* ABOUT PAGE CONTENT-2 */
.about-content2 {
  display: flex;
  height: 377px;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  padding: 15px 8%;
}

.about2a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 900px;
  /* background-color: red; */
  margin-right: 120px;
}

.about2a h2 {
  font-family: ID-bold;
  font-size: 40px;
  padding-top: 30px;
}

.about2b {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
}

.about2b p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  text-align: justify;
}

/* ABOUT PAGE CONTENT-3 */
.about-content3 {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about3 {
  height: 600px;
  width: 95vw;
  background-color: #032b44;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 1px;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 34px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
}

.inner3a {
  background-color: #ffffff;
  width: 335.26px;
  height: 254.63px;
  border-radius: 20px;
  margin-left: 38px;
}

.inner3b {
  background-color: #ffffff;
  width: 335.26px;
  height: 254.63px;
  border-radius: 20px;
  margin: 0 18px;
}

.inner3c {
  background-color: #ffffff;
  width: 335.26px;
  height: 254.63px;
  border-radius: 20px;
  margin-right: -48px;
}

.inner3d {
  background-color: #ffffff;
  width: 335.26px;
  height: 254.63px;
  border-radius: 20px;
  margin-left: 40px;
}

.inner3e {
  background-color: #ffffff;
  width: 538.18px;
  height: 254.63px;
  border-radius: 20px;
  margin-left: 20px;
}

/* INNER CONTENT OF ABOUT PAGE-CONTENT3 */
.inn-head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
}

.inn-head h2 {
  font-family: ID-bold;
  font-size: 32px;
}

.inn-body {
  /* background-color: red; */
  height: 70%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.inn-body p {
  font-family: ID-regular;
  font-size: 22px;
  font-weight: 500;
  padding: 20px;
}

.circlea {
  width: 59px;
  height: 59px;
  background-color: #032b44;
  border-radius: 50%;
  margin-right: 10px;
}

.circleb {
  width: 59px;
  height: 59px;
  background-color: #ec0505;
  border-radius: 50%;
  margin-right: 10px;
}

.circlec {
  width: 59px;
  height: 59px;
  background-color: #ffc107;
  border-radius: 50%;
  margin-right: 10px;
}

.circled {
  width: 59px;
  height: 59px;
  background-color: #03bb37;
  border-radius: 50%;
  margin-right: 10px;
}

.circlee {
  width: 59px;
  height: 59px;
  background-color: #3000b7;
  border-radius: 50%;
  margin-right: 10px;
}

/* ABOUT PAGE CONTENT-4 */
.about-content4 {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about4-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffc107;
  width: 95%;
  border-radius: 34px;
  /* padding: 25px 8%; */
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.about4-body img {
  width: 345px;
}

.about4 {
  height: 18%;
  text-align: left;
}

.about4 h2 {
  font-family: ID-bold;
  font-size: 36px;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  padding: 25px 8%;
}

.a4body-1 {
  flex: 1;
  margin: 0 10px;
  text-align: center;
  line-height: 1.2;
}

.a4body-1 h3 {
  font-family: ID-bold;
  font-size: 20px;
}

.a4body-1 p {
  font-family: ID-regular;
  font-weight: 300;
  font-size: 20px;
}

/* ABOUT PAGE CONTENT-5 */
.about-content5 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about5a img {
  width: 750px;
  height: 475px;
}

.about5b {
  height: 475px;
  background-color: #e8e8e8;
  width: 409px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.about5b-text h2 {
  font-family: ID-bold;
  font-size: 40px;
}

.about5b-text p {
  width: 80%;
  font-family: ID-regular;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  /* background-color: #FFC107; */
  margin: 0 55px;
}

.btn-5 {
  cursor: pointer;
  background-color: #032b44;
  color: white;
  padding: 9px 25px;
  border-radius: 50px;
  font-family: ID-bold;
  font-size: 20px;
  border: 0;
  width: 200px;
}

.btn-5:hover {
  transform: scale(0.9);
  background-color: transparent;
  border: 2px solid #032b44;
  color: #032b44;
  transition: 0.4s;
}

/* 4 OF FIVE CONTAINERS HAVING THE SAME NAME

.inner3 {
  background-color: #ffffff;
  width: 340px;
  height: 250px;
  border-radius: 20px;
  margin: 0 18px;
}

.inner3a {
  background-color: #ffffff;
  width: 545px;
  height: 250px;
  border-radius: 20px;
}

*/

/**

.about3{
  height: 95%;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.about3a{
  height: 100%;
  width: 100%;
  background-color: #032b44;
  padding: 10px;
  border-radius: 34px;
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    gap: 5px;
}

.inner3 {
  background-color: #ffffff;
  margin: 0 20px;
  padding: 20px;
  width: 275px;
  height: 240px; 
  border-radius: 20px;
}

.inner3a {
  background-color: #ffffff;
  width: 545px;
  height: 240px;
  border-radius: 20px;
  grid-column: span 2;
}

**/
