@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: ID-bold;
    src: url(./assets/IDGrotesk-Bold-BF652cb1b4740d2.ttf);
    font-weight: 700;
}

@font-face {
    font-family: ID-regular;
    src: url(./assets/IDGrotesk-Regular-BF652cb1b4787d7.ttf);
    font-weight: 400;
}

body{
    font-family: 'Open sans';
    font-weight: 600;
    background-color: #ffffff;
}

.head{
    width: 100%;
    padding: 35px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li a{
    padding: 0 15px;
    color: #032B44;
    transition: .5s ease;
}

.nav-bar ul li a:hover{
    color: #FFC107;
}

.logo{
    font-size: 25px;
    color: #032B44;
    font-weight: 600;
    transition: 0.3s ease;
    font-family: ID-bold;
}

.logo:hover{
    color: #FFC107;
    text-shadow: 0 0 25px #FFC107,
                 0 0 25px #FFC107;
                 transform: scale(1.1);
}


/**** HOME PAGE CONTENT-1 ****/
.home-page{
    width: 100%;
}

.head{
    height: 15vh;
}

.textbox h1{
    font-family: ID-bold;
    color: #000000;
    font-size: 48px;
    background-color: transparent;
}

.textbox h2{
    font-size: 20px;
    font-weight: 400;
}

.textbox p{
    font-size: 20px;
    font-weight: 400;
}

.span-1{
    color: #032B44;
}

.span-2{
    color: #FFC107;
}

.subtext{
    color: #032B44;
    font-size: 10px;
}

.home-paragraph{
    color: #032B44;
    font-size: 10px;
}

.btn-1{
    cursor: pointer;
    background-color: #032B44;
    color: white;
    padding: 9px 25px;
    border-radius: 50px;
    font-size: 20px;
    border: 0;
}

.btn-1:hover{
    transform: scale(0.9);
    background-color: transparent;
    border: 1px solid #032B44;
    color: #032B44;
    transition: .4s;
}

.home-content1{
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 85vh;
}

.textbox, .img-container{
    padding: 35px 8%;
    flex: 1;
}

.img-container{
    background-color: transparent;
    padding-left: 0;
}

.textbox{
    padding-right: 0;
}

.img-container1 img{
    width: 515px;
}

.img-container2 img{
    width: 255px;
}

/**** HOME PAGE CONTENT-2 ****/
.home-content2{
    background-color: #ffe4e4;
    height: 100vh;
}
.home-content2 h2{
    text-align: center;
    font-family: ID-bold;
    color: #032B44;
    font-size: 36px;
    padding-top: 1.4%;
    padding-bottom: 1.2%;
}

.home-box2{
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 70vh;
    margin: 0 100px;
}

.img-container3 img{
    width: 525px;
}

.register-btn1{
    background-color: #FFC107;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-2{
    cursor: pointer;
    background-color: #032B44;
    color: white;
    padding: 9px 25px;
    border-radius: 50px;
    font-size: 20px;
    border: 0;
}

.btn-2:hover{
    transform: scale(0.9);
    background-color: transparent;
    border: 1px solid #032B44;
    color: #032B44;
    transition: .4s;
}

.img-container3, .textbox2{
    padding: 25px;
    flex: 1;
}

.textbox2 h3{
    font-family: ID-bold;
    color: #032B44;
    font-size: 25px;
}

.textbox2 p{
    color: #032B44;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.;
}